<config>
    <audio>
        <audioenable>1</audioenable>
        <audioinvolume>50</audioinvolume>
        <encoding>0</encoding>
        <samplerate>0</samplerate>
        <audiobitrate>0</audiobitrate>
        <audiooutvolume>50</audiooutvolume>
        <audiomode>0</audiomode>
        <alarmlevel>0</alarmlevel>
    </audio>
    <video>
        <video_compression_pri_1>0</video_compression_pri_1>
        <video_resolution_pri_1>0</video_resolution_pri_1>
        <video_fps_pri_1>30</video_fps_pri_1>
        <video_ratecontrol_pri_1>0</video_ratecontrol_pri_1>
        <video_bitrate_pri_1>256</video_bitrate_pri_1>
        <video_audio_pri_1>0</video_audio_pri_1>
        <sensor_hdr>0</sensor_hdr>
        <snapshot>0</snapshot>
    </video>
    <system>
        <timezone>20</timezone>
        <timesynch_mode>0</timesynch_mode>
        <current_sntp>1</current_sntp>
        <custom_sntp></custom_sntp>
        <sntp_synch_interval>1</sntp_synch_interval>
        <lan_ip>192.168.001.168</lan_ip>
        <title>TI_IPNC</title>
        <language>0</language>
        <date>2015/04/04</date>
        <time>15:21:01</time>
    </system>
    <network>
        <lan_ip>192.168.001.168</lan_ip>
        <lan_mask>255.255.255.0</lan_mask>
        <lan_gateway>192.168.001.001</lan_gateway>
        <lan_dns1>192.168.001.001</lan_dns1>
        <lan_dhcpenabl>1</lan_dhcpenabl>
        <lan_dhcpenabl>1</lan_dhcpenabl>
        <rtsp_enable>1</rtsp_enable>
        <rtspports>8551</rtspports>
        <upnp_on>1</upnp_on>
        <internet_wifi>0</internet_wifi>
        <dynamic_bitrate_fps>0</dynamic_bitrate_fps>
        <ftpserver>192.168.001.001</ftpserver>
        <ftpport>21</ftpport>
        <ftpuser></ftpuser>
        <ftppassword></ftppassword>
        <ftppath></ftppath>
    </network>
</config>